{% extends 'base.html' %}
{% load static %}
{% block metadescription %}
    {% if category %}
       {{ category.description| truncatewords:155 }}
    {% else %}
Welcome to ShopEshop where you can buys different items ..
{% endif %}
{% endblock %}
{% block title %}
    {% if category %}
       {{ category.name }} - ShopEBuy
    {% else %}
See our  New Collections -ShopEBuy
{% endif %}
{% endblock %}

{% block content %}
{% if category %}
<div>
    <div class="row my_row_class">
        <div class="mx-auto">
            <p><a href="{% url 'shopapp:allProdCat' %}">Our Product Collections</a> -> {{category.name}}</p>
        </div>
    </div>
</div>
{% endif %}
<div class="mx-auto">
    {% if category %}
     <center> <img class="my_image" src="{{category.image.url}}" alt="{{category.name}}" height="600px" width="1000px"></center>
</div>
<br>
<div>
    <h1 class="text-center my_title">{{category.name}}</h1>
    <p class="text-justify">{{category.description}}</p>
    </div>
    {% else %}
<div>
<img class="my_image my_image_padding"   src="{% static 'img/banner.png' %}" alt="our product" >
</div>
<br>
<div>
    <h1 class="text-center my_title">Our Products Collections</h1>
    <p class="text-justify">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. </p>
</div>
    {% endif %}
<div class="container">
    <div class="row max_auto">
        {% for product in products.object_list %}
        <div class="my_bottom_margin col-9 col-sm-12 col-md-4  xol-lg-4">
            <div class="card text-center" style="min-width:18rem;">
               <a href="{{product.get_url}}"><img class="card-img-top my_image" src="{{product.image.url}}" width="100px" height="100px" alt="{{product.name}}"></a>
           <div class="card-body">
              <h4>{{product.name}}</h4>
               <h5>{{product.price}}</h5>
           </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="mx-auto">
        {% if products.paginator.num_pages > 1 %}

        <hr>
        <div class="text-center">
            {% for pg in products.paginator.page_range %}
            <a href="?page={{pg}}" class="btn btn-light btn-sm {% if products.number == pg %} active {% endif %}">{{pg}}</a>
            {% endfor %}
        </div>
        {% endif %}
    </div>
    <br>
</div>
{% endblock %}
